absl-py==2.3.1
accessible-pygments==0.0.5
alabaster==0.7.16
altair==5.5.0
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.9.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse==1.6.3
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
blinker==1.9.0
branca==0.8.1
cachetools==6.2.0
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.1.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy==1.3.0
cycler==0.12.1
daal==2025.8.0
dash==3.2.0
dash-bootstrap-components==2.0.4
dash-core-components==2.0.0
dash-table==5.0.0
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1752827137/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
Django==4.2.11
djangorestframework==3.14.0
docutils==0.21.2
dython==0.7.9
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
faiss-cpu==1.12.0
fastapi==0.117.1
fastjsonschema==2.21.1
findspark==2.0.1
Flask==3.1.2
flatbuffers==25.2.10
folium==0.20.0
fonttools==4.59.0
gast==0.6.0
geopandas==1.0.1
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
greenlet==3.2.4
grpcio==1.74.0
h11==0.16.0
h5py==3.14.0
idna==3.10
imageio==2.37.0
imagesize==1.4.1
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources==6.5.2
ipykernel @ file:///D:/bld/ipykernel_1753749862891/work
ipython @ file:///D:/bld/ipython_1701831845989/work
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter-book==1.0.4.post1
jupyter-cache==1.0.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///D:/bld/jupyter_core_1748333031907/work
keras==3.10.0
kiwisolver==1.4.7
latexcodec==3.0.1
lazy_loader==0.4
libclang==18.1.1
lime==0.2.0.1
linkify-it-py==2.0.3
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdit-py-plugins==0.4.2
mdurl==0.1.2
mglearn==0.2.0
missingno==0.5.2
ml_dtypes==0.5.3
myst-nb==1.3.0
myst-parser==3.0.1
namex==0.1.0
narwhals==2.5.0
nbclient==0.10.2
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.2.1
numpy==2.0.2
opt_einsum==3.4.0
optree==0.17.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.3.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy==1.0.1
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
plotly==6.3.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
protobuf==6.32.1
psutil @ file:///D:/bld/psutil_1740663155517/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py4j==0.10.9.9
pyaml==25.7.0
pyarrow==21.0.0
pybtex==0.25.1
pybtex-docutils==1.0.3
pydantic==2.11.9
pydantic_core==2.33.2
pydata-sphinx-theme==0.15.4
pydeck==0.9.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyogrio==0.11.1
pyparsing==3.2.3
pyproj==3.6.1
pyspark==4.0.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz==2025.2
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1752564076/work
PyYAML==6.0.2
pyzmq @ file:///D:/bld/pyzmq_1754238086528/work
referencing==0.36.2
requests==2.32.4
retrying==1.4.2
rich==14.1.0
rpds-py==0.27.0
scikit-image==0.24.0
scikit-learn==1.6.1
scikit-learn-intelex==2025.8.0
scikit-optimize==0.10.2
scipy==1.13.1
seaborn==0.13.2
shapely==2.0.7
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==7.4.7
sphinx-book-theme==1.1.4
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==1.0.0
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.3.1
sphinx-togglebutton==0.3.2
sphinx_design==0.6.1
sphinx_external_toc==1.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.5
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.42
sqlparse==0.5.3
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.48.0
statsmodels==0.14.5
streamlit==1.50.0
streamlit-folium==0.25.3
tabulate==0.9.0
tbb==2022.2.0
tcmlib==1.4.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2024.8.30
toml==0.10.2
tomli==2.2.1
tornado @ file:///D:/bld/tornado_1748003336069/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing-inspection==0.4.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata==2025.2
uc-micro-py==1.0.3
Unidecode==1.4.0
urllib3==2.5.0
uvicorn==0.37.0
watchdog==6.0.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
Werkzeug==3.1.3
whitenoise==6.6.0
wrapt==1.17.3
xgboost==2.1.4
xyzservices==2025.4.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
